{% extends "includes/base-car-index.html" %}

{% block tips %}
<p>Tip：您好，本网站所有内容都是免费的，不会用到网银，所以您不是非得使用IE内核的浏览器如<em>360安全浏览器</em>等来访问本站。相反我们推荐使用非IE内核浏览器获得更好的体验。</p><!--p>并且本站将逐步移除对IE内核的部分支持。</p-->
{% endblock %}

{% block header %}华理拼车{% endblock %}

{% block table-thread-tr %}
<th><i class="icon-my-car"></i>ID</th> <th>起点</th> <th>终点</th> <th>日期</th> <th>时间</th> <th>备注</th> <th>人数</th>
{% endblock %}

{% block table-tbody %}
	<tbody>
	  {% for car in cars.object_list %}
	  <tr>
	    <td id={{ car.id }}>{{ car.id }}</td>
	    <td>{{ car.begin }}</td>
	    <td>{{ car.end }}</td>
	    <td>{{ car.date|date:"Y年m月d日"}}</td>
	    <td>{{ car.time }}</td>
	    <td>{% if car.remark %}{{ car.remark }}{% else %}<span class="muted">无</span>{% endif %}</td>
	    <td><a class="badge {% if car.people_already < car.people_total %}badge-success{% endif %}" href="/car-detail/car-id-{{ car.id }}/" rel="tooltip" data-original-title="点此获得该车详细信息">{{ car.people_already }}/{{ car.people_total }}</a></td>
	  </tr>
	  {% endfor %}
	</tbody>
{% endblock %}

{% block script-src %}
{% include "includes/base-script.html" %}
{% endblock %}

{% block script %}
<!--script>
  $(".badge-success").tooltip()
  $(".typeahead").typeahead()
</script-->
{% endblock %}
