{% extends "includes/base.html" %}

{% block title %}成功加入{% endblock %}

{% block body %}
<div class="hero-unit">
  <h1>拼车成功</h1>
  <p>感谢使用本简陋的网站，并且拼车取得初步成功。页面将在4秒中后自动跳转...</p>
  <p>
    <div class="progress progress-striped active">
      <div class="bar" id="prog-p" style="width: 0%; "></div>
    </div>
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="/car-index/">返回</a>
  </p>
</div>
{% block script-src %}
{% include "includes/base-script.html" %}
<script>
$(document).ready(
function() {    
window.setTimeout(function() {
location.href="/car-index/";
}, 2000);
$start = 10;
    $.extend({
      bar_show: function() {
$(".bar").css("width",$start.toString() + "%");
        $start+=10;
      }
    });
    setInterval("$.bar_show($start)",200);
  });  
</script>
{% endblock %}
{% endblock %}
