{% extends "includes/base.html" %}

{% block title %}详细信息{% endblock %}

{% block body %}
<div class="alert alert-warning">
	<p>注意事项：</p>
	<p id="test">1、本网站暂时没有用户注册机制，希望您通过拼车发起人<b>手机或者qq</b>联系他。</p>
	<p>2、为了保持良好的拼车环境，请在洽谈成功后点击 <button class="btn btn-success">已成功加入</button> 按钮</p>
</div>
<div class="row">
	<div class="span8">
		<table class="table table-striped table-bordered">
	      <thead>
			<tr>
			  <th>变量</th>
			  <th>值</th>
			</tr>
	      </thead>
		      <tbody>
				<tr>
				  <td><i class="icon-my-user"></i>发起人</td>
				  <td>{{ car.your_name }}</td>
				</tr>
				<tr>
				  <td><i class="icon-my-road"></i>路线</td>
				  <td>{{ car.begin }} <i class="icon-arrow-right"></i> {{ car.end }}</td>
				</tr>
				<tr>
				  <td><i class="icon-my-clock"></i>出发时间</td>
				  <td>{{ car.date|date:"Y年m月d日"}} {{ car.time }}</td>
				</tr>
				<tr>
				  <td><i class="icon-my-iphone"></i>联系方式</td>
				  <td i="contact"><b>手机: {{ car.phone }} {% if car.qq %}, qq: {{ car.qq }}{% endif %}</b></td>
				</tr>
				<tr>
				  <td><i class="icon-my-group"></i>人数</td>
				  <td>
				  	<span class="badge badge-warning">{{ car.people_already }}/{{ car.people_total }}</span>
				  	{% if car.people_already == car.people_total %}
				  	<span class="label label-info">注意!</span>人数信息可能跟实际情况略有不同，您可以尝试联系发起人。
				  	{% endif %}</td>
			  	</tr>
	<tr>
	  <td><i class="icon-my-remark"></i>备注</td>
	  <td>{% if car.remark %}{{ car.remark }}{% else %}<span class="muted">无</span>{% endif %}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span8">
    <a class="btn btn-success {% if car.people_already == car.people_total %}disabled{% endif %}" href="{% if car.people_already == car.people_total %}#{% else %}/car-join-success/?id={{ car.id }}{% endif %}">已成功加入</a>
    <a class="btn" href="/car-index/">返回</a>
  </div>
</div>  
{% endblock %}

{% block script-src %}
{% include "includes/base-script.html" %}
{% endblock %}
