{% extends "includes/base.html" %}

{% block title %}发布新的拼车信息{% endblock %}
{% block body %}
  <h2>填写拼车信息</h2>
  <div class="row">
    <div class="span8">
      {% if message.main %}
      <div class="alert {% if error %}alert-error{% else %}alert-success{% endif %}">
	<p>{{ message.main }}</p>
      </div>
      {% endif %}
      <form class="form-horizontal" action="/car-form/" method="post">
	<fieldset>
	  <legend>在这里填完信息，你就不需要去食堂贴传单了。恩，环保！</legend>
	  <div class="control-group">
	    <label class="control-label" for="input01">起点：</label>
	    <div class="controls">
	      <input type="text" name="begin" class="input-xlarge" id="input01" style="margin: 0 auto;" data-provider="typeahead" date-items="4" placeholder="如：奉贤校区" value="{{ post_data.begin }}" required>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="input01">终点：</label>
	    <div class="controls">
	      <input type="text" name="end" class="input-xlarge" id="input01" placeholder="如：上海南站" value="{{ post_data.end }}" required><br>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="input01">拼车人数：</label>
	    <div class="controls">
	    <input type="number" min="2" value="4" name="people_total" placeholder="打算几个人一起拼车" required>
	    <span class="muted">包括你自己哦</span>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="input01">开车日期：</label>
	    <div class="controls">
	      <input type="date" name="date" required>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label">开车时间：</label>
	    <div class="controls">
	      <select class="span1" name="time_hour">
		{% for hour in range_hour %}
		<option value={{ hour }} {% if hour == 9 %}selected{% endif %}>{{ hour }}</option>
		{% endfor %}
	      </select>
	      :
	      <select class="span1" name="time_minute">
		{% for minute in range_minute %}
		<option value={{ minute }} {% if minute == 30 %}selected{% endif %}>{{ minute }}</option>
		{% endfor %}
	      </select>
	      <!--input type="time" name="time" placeholder="如：9:00" required-->
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="input01">如何称呼您：</label>
	    <div class="controls">
	      <input type="text" name="your_name" placeholder="如：潘同学" value="{{ post_data.your_name }}" required>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputWarning">qq号：</label>
	    <div class="controls">
	      <input type="text" name="qq" placeholder="" value="{{ post_data.qq }}">
	      <span class="muted">非必须</span>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="input01">手机号：</label>
	    <div class="controls">
	      <input type="text" name="phone" placeholder="" value="{{ post_data.phone }}" required>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="input01">备注：</label>
	    <div class="controls">
	      <textarea class="input-xlarge" id="textarea" rows="3" autocomplete="off" goog_input_chext="chext" name="remark" placeholder="如：不要男生" value="{{ post_data.phone }}"></textarea>
	      <span class="muted">非必须</span>
	    </div>
	  </div>
	  <div class="form-actions">
	    <button class="btn btn-primary" type="submit">提交信息</button>
	    <a class="btn" href="">取消</a>
	  </div>
	</fieldset>
      </form>
    </div>
  </div>
  {% endblock %}
