<div class="pagination">
  <ul>
    {% if cars.has_previous %}
    <li class="prev"><a href="{{ SITEURL }}/page-{{ cars.previous_page_number }}/">&larr; 前一页</a></li>
    {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
    {% endif %}

    {% for num in pages_range %}
    <li class="{% if num == cars.number %}active{% endif %}"><a href="{{ SITEURL }}/page-{{ num }}">{{ num }}</a></li>
    {% endfor %}

    {% if cars.has_next %}
    <li class="next"><a href="{{ SITEURL }}/page-{{ cars.next_page_number }}">下一页 &rarr;</a></li>
    {% else %}
    <li class="next disabled"><a>&rarr; 下一页</a></li>
    {% endif %}
</ul>
</div>
