{% extends "includes/base.html" %}

{% block body %}
<div class="alert alert-info fade in">
  <a class="close" data-dismiss="alert">无视它x</a>

{% block tips %}{% endblock %}

</div>
<header class="jumbotron subhead" id="overview">
  <h1 id="test">{% block header %}华理拼车{% endblock %}</h1>
  <p class="lead">

    {% block header-lead %}学校不给力，只能靠自己，拼车吧!{% endblock %}

  </p>
</header>

<div class="row">
  <div class="span4">
    <a class="btn btn-large btn-primary" href="/car-form/">

      {% block create-button %}发起拼车{% endblock %}

    </a>
  </div>
  <div class="span8">
    <form class="well form-search" action="/car-search/" method="post">
      ID <input type="search" class="input-medium search-query" autocomplete="off" google-input-chext="chext" id="5" name="search-id">
      从 <input type="search" class="input-medium search-query" autocomplete="off" data-provide="typeahead" data-items="4" data-source=[{% for item in begin_list %}"{{ item }}",{% endfor %}""] goog_input_chext="chext" id="6" name="search-begin" placeholder="起点"> 到
      <input type="search" class="input-medium search-query" autocomplete="off" data-provide="typeahead" data-items="4" data-source='[{% for car in cars.object_list %}"{{ car.begin }}",{% endfor %}""]' google-input-chext="chext" id="7" name="search-end" placeholder="终点">
      <button type="submit" class="btn">搜索</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered">
	<thead>
	  <tr>
	    {% block table-thread-tr %}{% endblock %}
	  </tr>
	  {% block table-tbody %}{% endblock %}
    </table>
  </div>
</div>

{% include "pagination.html" %}

{% endblock %}
