<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}拼车吧{% endblock %}</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/local.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href={{ SITEURL }}>ECUST-Life</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class={% block caractive %}"active"{% endblock %}>
              <a href="/car-index/">拼车</a>
            </li>
	    <li class={% block sechand_active %}""{% endblock %}>
	      <a href="#">二手淘</a>
	    </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    {% block body %}{% endblock %}
    <footer class="footer">
      <p class="pull-right">
	<a href="#">回到顶端</a>
      </p>
      <p>"方便华理师生 ECUST_Life." Author Xiuqing Pan</p>
      <p>Powered by Django, PostgreSQL, Bootstrap</p>
      <p>Icon取自<a href="http://glyphicons.com/">Glyphicons Free</a>, 授权依照<a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>
    </footer>
  </div>
  {% block script-src %}{% endblock %}
  {% block script %}{% endblock %}
</body>
<html>
