body {padding-top: 60px;}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5
}

.icon-my-clock {
  background-image: url("../Pictures/glyphicons_054_clock.png");
  width: 28px;
  height: 24px;
  background-position: 2px 0px;
}

.icon-my-user {
  background-image: url("../Pictures/glyphicons_003_user.png");
  width: 28px;
  height: 22px;
  background-position: 2px 0px;
}

.icon-my-group {
  background-image: url("../Pictures/glyphicons_043_group.png");
  width: 35px;
  height: 22px;
  background-position: -3px 0px;
}

.icon-my-car {
  background-image: url("../Pictures/glyphicons_005_car.png");
  width: 28px;
  height: 22px;
  background-position: 0px 0px;
}

.icon-my-road {
  background-image: url("../Pictures/glyphicons_026_road.png");
  width: 28px;
  height: 24px;
  background-position: 0px 0px;
}

.icon-my-cars {
  background-image: url("../Pictures/glyphicons_028_cars.png");
  width: 36px;
  height: 25px;
  background-position: 0px 0px
}

.icon-my-remark {
  background-image: url("../Pictures/glyphicons_030_pencil.png");
  width: 28px;
  height: 25px;
  background-position: 1px 0px;
}

.icon-my-iphone {
  background-image: url("../Pictures/glyphicons_163_iphone.png");
  width: 28px;
  height: 24px;
  background-position: 7px 0px;
}

input[type="search"],
.search-query {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 14px;
}

select {
  border-radius: 3px;
  background-color: white;
}

div.navbar-inner {
  box-shadow: 0px 5px 10px #888888;
}
